:root {
    background-color: #363636;
    color: white;

    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    --link-color: rgb(179, 179, 179);
    --header-color: #00b6b6;
    --iframe-scale-factor: 0.4;

    text-align: justify;
    text-justify: inter-word;
}

body {
    padding: 5rem;
    padding-top: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--header-color);
}

h2 {
    color: var(--header-color);
}

a {
    color: var(--link-color);
    transition: color 0.25s ease-in-out;
}

a:hover {
    color: white;
}

a:visited {
    color: var(--link-color);
}

a:visited:hover {
    color: white;
}

phone-disclaimer {
    text-align: center;
}

iframe {
    height: 100vh;
    width: 100vw;
    transform: scale(var(--iframe-scale-factor));
    position: absolute;
    pointer-events: none;
}

.iframe-container {
    position: relative;
}

.iframe-spacing {
    height: calc(100vh * var(--iframe-scale-factor));
    width: calc(100vw * var(--iframe-scale-factor) + 0.5rem);
    cursor: pointer;
}

.right {
    right: 0;
    transform-origin: right top;
}

.spacing-right {
    float: right;
}

.img-right {
    float: right;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-desc {
    color: var(--link-color);
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main-header img {
    height: 70px;
}

@media screen and (max-width: 999px) {
    phone-disclaimer {
        display: block;
    }

    main {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    phone-disclaimer {
        display: none;
    }

    main {
        display: block;
    }
}

/*
body {
    margin: 0;
    padding: 0;
}

iframe {
    height: 100vh;
    width: 100vw;
    transform: scale(calc(0.25 - 2rem / 100vw / 4));
    transform-origin: 0 0;
    position: absolute;
    top: 1.7em;
    left: 0.25rem;
    z-index: -1;
    border-radius: 5px;
}

.boids-outer {
    position: relative;
    width: calc(100vw / 4);
    height: calc(1.7em + 100vh / 4);
}

.boids-outer h3 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    width: calc(100vw / 4);
}

.boids {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(4, 25%);
}

a {
    color: white;
    text-decoration: none;
} */
